<div class="header" *ngIf="supplier">
    <img class="logo" [src]="supplier.logoUrl"/>
    <h2 class="cars-available">Cars available: {{ catalogItems.length }}</h2>
    <div class="search">
        <mat-icon class="search-icon">search</mat-icon>
        <input [formControl]="searchControl" type="text" class="search-input" placeholder="Search...">
      </div>
    <app-button
        [title]="'Add car'"
        [icon]="'add'"
        [size]="'small'"
        (click)="addNewVehicle()"
    ></app-button>
</div>
<div class="divider"></div>
<div class="vehicle-list-wrapper" *ngIf="catalogItems !== 'Loading'; else spinner">
    <app-vehicle-card
        *ngFor="let item of displayItems"
        [item]="item"
        [isDelete]="true"
        [isRent]="false"
        [isLogo]="false"
    ></app-vehicle-card>
</div>

<ng-container *ngIf="isDialogOpen">
    <app-vehicle-form
        class="form-modal"
        (close)="toggleModal(false)"
        [locations]="supplier.locations"
        [supplier]="supplier"
    ></app-vehicle-form>
</ng-container>

<ng-template #spinner>
    <app-spinner
        title="Your content is loading"
    ></app-spinner>
</ng-template>