<div class="search-container">
    <app-input
        [type]="'text'"
        [placeholder]="'Cracow'"
        [title]="'Location'"
        [control]="location"
        [isDropdownOpen]="isDropdownOpen"
        [dropdownItems]="dropdownItems"
    ></app-input>
    <app-input
        [type]="'datetime-local'"
        [title]="'Date'"
        [control]="date"
        [value]="date.value"
    ></app-input>
    <app-input
        [type]="'number'"
        [placeholder]="'10'"
        [title]="'Time (hours)'"
        [control]="time"
    ></app-input>
    <app-button
        class="search-button"
        [title]="'Search'"
        [icon]="'search'"
        (click)="onClick()"
    ></app-button>
</div>