<div class="search-container">
    <app-input
        [type]="'text'"
        [placeholder]="'Cracow'"
        [title]="'Location'"
        [control]="location"
    ></app-input>
    <app-input
        [type]="'date'"
        [title]="'Date'"
        [control]="date"
    ></app-input>
    <app-input
        [type]="'number'"
        [placeholder]="'10'"
        [title]="'Time (hours)'"
        [control]="time"
    ></app-input>
    <app-button
        [title]="'Search'"
        [icon]="'search'"
        (click)="onClick()"
    ></app-button>
</div>