<header
  [ngClass]="{
    'home' : currentRoute === '/',
    'regular': currentRoute !== '/'
  }"
>
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../assets/images/Automobile.png" />
    </a>
    <div class="action-buttons" [ngClass]="{ show: isExpanded }">
      <ul class="action-buttons-list">
        <!-- <li>
          <a class="link" [routerLink]="['/']">Home</a>
        </li> -->
        <li>
            <a *ngIf="!(authService.isLoggedIn$ | async)" class="link" (click)="navigateLogin()">Sign in</a>
        </li>
      </ul>
    </div>
    <div
      class="profile"
      (click)="toggleMenu()"
      *ngIf="authService.isLoggedIn$ | async"  
    >
      <mat-icon>person</mat-icon>
      <ng-container
        *ngTemplateOutlet="menu"
      ></ng-container>
    </div>
  </div>
</header> 

<ng-template #menu>
  <div class="menu" *ngIf="isMenuOpen">
    <ul>
      <!-- <li (click)="goToProfile()">Profile</li> -->
      <li (click)="goToProfile()">My reservations</li>
      <li (click)="logout()">Sign off</li>
    </ul>
  </div>
</ng-template>