:host {
    flex-grow: 1;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    height: 100%;

    h2 {
        margin-top: 1.5rem;
    }

    h3 {
        font-size: var(--m);
    }

    .info {
        &-item {
            display: flex;
            align-items: center;
            gap: 0.2rem;

            .checkbox {
                margin-right: 10px;
                accent-color: var(--accent);
                cursor: pointer;
            }

            mat-icon {
                color: var(--accent);
            }
        }
    }
}

.details-wrapper {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 200px;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
nav {
    padding: 0 1rem 1rem 1rem;
    margin-top: 1rem;
    position: sticky;
    top: 1rem;
    align-self: baseline;
    border: 1px solid var(--dark-1);
    background: var(--dark-1);
}
.schedule {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.schedule-date {
    display: flex;
    gap: 1rem;
    
}

p {
    margin: 0;
}

.circle {
    width: 18px;
    height: 18px;
    background-color: var(--accent);
    border-radius: 50%;
    flex-shrink: 0;
}

.drivers-form app-input:not(:first-of-type) {
    margin-top: 2rem;
}

.terms {
    margin: 3rem 0;
    grid-row:2;

    app-button {
        margin-top: 2rem;
    }
}

.alert {
    background-color: var(--alert);
    border-radius: 10px;
    font-weight: bold;
    color: var(--text-light);
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.3rem 0.3rem;
    gap: 0.2rem;
    margin-top: 2rem;
}

.price-container {
    border-radius: 10px;
    border: 1px solid var(--primary);
    padding: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.price-container .price {
    font-size: var(--l);
    color: var(--accent);
} 

app-go-back {
    position: relative;
    left: -1rem;
}

@media (max-width: 850px) {
    nav {
        position: static;
    }

    .details-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .terms {
        margin: 3rem 0;
        grid-row:3;
    }
    
    
    :host ::ng-deep app-input {
        width: 100%;
        input {
            width: 100%;
        }
    }

    :host ::ng-deep .rent-button {
        width:100%;
    
        button {
            width: 100%;
        }
    }
}