<div class="container">
    <app-go-back
        (click)="goBack()"
    ></app-go-back>
    <h2>Your deal</h2>
    <div class="divider"></div>
    <ng-container
        *ngIf="item !== 'Loading'; else loading"
    >
        <div class="details-wrapper">
            <main>
                <app-vehicle-card
                    [item]='item'
                    [isRent]="false"
                    [isPrice]="false"
                >
                </app-vehicle-card>
                <div class="divider"></div>
                <div class="info">
                    <h3>Good to know</h3>
                    <div class="info-item"><mat-icon>check_box</mat-icon>Free cancellation up to 7 days before pick-up</div>
                    <div class="info-item"><mat-icon>check_box</mat-icon>Great choice</div>
                </div>
                <div class="divider"></div>
                <h3>Driver's details</h3>
                <div class="drivers-form">
                    <app-input
                        [title]="'Name'"
                        placeholder="Enter your name"
                        [control]="form.get('name')"
                    >
                    </app-input>
                    <app-input
                        [title]="'Your surname'"
                        placeholder="Enter your surname"
                        [control]="form.get('surname')"
                    >
                    </app-input>
                    <app-input
                        [title]="'Coutry'"
                        placeholder="Poland"
                        [control]="form.get('country')"
                    >
                    </app-input>
                    <app-input
                        [title]="'Phone number'"
                        placeholder="+48 123 456 789"
                        [control]="form.get('number')"
                    >
                    </app-input>
                </div>
                <div class="terms">
                    <h3>Terms and condition</h3>
                    <p>By clicking "Rent and Pay" you accept our terms and conditions</p>
                </div>
                <app-button
                    class="rent-button"
                    title="Rent and Pay"
                    size="big"
                    icon="credit_card"
                    (click)="onRentClick()"
                ></app-button>
            </main>
            <nav>
                <div class="schedule">
                    <h3>Schedule</h3>
                    <div class="schedule-date">
                        <div class="circle"></div>
                        <div class="schedule-date-wrapper">
                            <p>Fri, Dev 31 - 10:00 AM</p>
                            <span>Cracow</span>
                        </div>
                    </div>
                    <div class="schedule-date">
                        <div class="circle"></div>
                        <div class="schedule-date-wrapper">
                            <p>Fri, Dev 31 - 10:00 AM</p>
                            <span>Cracow</span>
                        </div>
                    </div>
                </div>
                <div class="alert">
                    <mat-icon>info</mat-icon>
                    Standard insurance included
                </div>
                <div class="price-container">
                    <div class="price">PLN 50.00</div>
                    <span>/1 day</span>
                </div>
            </nav>
        </div>
    </ng-container>
</div>

<ng-template #loading>LOADING</ng-template>