.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height:calc(100vh - 60px);
    overflow: hidden;

    .navigation {
        padding: 2rem;
                
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: var(--l);

            li {
                font-weight: 500;
                padding: 0.2rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                &.active {
                    background-color:var(--primary);
                }

                &.navigation-anchor {
                    cursor: pointer;
                }                
            }
        }
    }
}
@media (max-width: 950px) {
    .container {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;

        .navigation {
            padding: 1rem 0;

            ul {
                display: flex;

                li {
                    flex-grow: 1;
                    justify-content: center;
                }
            }
        }
    }
}