<app-nav-menu></app-nav-menu>
<div class="container">
    <nav class="navigation">
        <div class="logo"></div>
        <ul>
            <ng-container
                *ngFor="let tab of navigationTabs"
            >
                <li
                    *ngIf="tab.condition"
                    [ngClass]="{'active': tab.id === activeTab}"
                    class="navigation-anchor"
                    (click)="changeTab(tab.id)"
                >
                    <mat-icon>{{ tab.icon }}</mat-icon>
                    {{ tab.label }}
                </li>
            </ng-container>
        </ul>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>