<div
    *ngFor="let reservation of reservations"
    class="reservation-item"
>
    <div class="cell">
        <div class="label">Data</div>
        <span>{{ reservation.beginTime }}</span>
    </div>
    <div class="cell">
        <div class="label">Lokalizacja</div>
        <span>Cracow</span>
    </div>
    <div class="cell">
        <div class="label">Model</div>
        <span>{{ reservation.catalogItem.model.name }}</span>
    </div>
    <div class="cell">
        <div class="label">Cena</div>
        <span>{{ reservation.catalogItem.price }}</span>
    </div>
    <div class="actions">
        <div class="cell">
            <app-button
                title="Details"
                size="small"
                [iconButton]="true"
                icon="credit_card"
                (click)="viewDetails(reservation.id)"
            ></app-button>
        </div>
        <div class="cell">
            <app-button
                title="Delete"
                size="small"
                [iconButton]="true"
                icon="delete"
                [style]="'error'"
                (click)="delete(reservation.id)"
            ></app-button>
        </div>
    </div>
</div>
