:host {
    padding: 1rem;
    overflow: auto;
    height: calc(100vh - 60px - 4rem);
    display: block;
}

.reservation-item {
    gap: 1rem;
    background: #2cb67d8c;
    padding: 0.6rem;
    border-radius: 5px;
    align-items: start;
    border-left: 5px solid var(--primary);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;

    &.outdated {
        border-left: 5px solid #999;
        background: var(--dark-1);
    }

    .actions {
        display: flex;
        gap: 0.5rem;
    }

    .cell {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        .label {
            font-size: 12px;
            line-height: 12px;
            color: var(--accent);
        }

        &.span2 {
            grid-column: span 2;
        }
    }

    margin-top:1rem;
}

@media(max-width: 950px) {
    .reservation-item {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 480px) {
    .reservation-item {
        grid-template-columns: repeat(2, 1fr);

        .cell {
            grid-column: span 2;
        }

        .actions {
            grid-column: auto;
            grid-row: auto;
        }
    }
}