<section class="banner">
    <div class="banner-text">
      <h1>Renting a car has<br />
        <mark>never been simpler</mark>
      </h1>
      <p>thanks to Automobile.com</p>
    </div>
  </section>
  <app-search
    (search)="onSearch($event)"
    [locations]="locations"
  ></app-search>
  <main>
    <div class="icon-section">
      <div
        class="icon-section-item"
        *ngFor="let item of iconItems"
      >
        <div class="icon-section-icon">
          <mat-icon class="icon">
            {{item.icon}}
          </mat-icon>
        </div>
        <span>{{ item.text }}</span>
      </div>
    </div>

    <hr class="divider" />

    <section>
      <div class="text-container">
        <p>
          Automobile is a car rental service that lets you rent a variety of vehicles for short periods of time from a plethora of suppliers from all around Europe.
        </p>

      </div>
      <img src="assets/images/driver.jpg" alt="">
    </section>
    <hr class="divider" />
    <section>
      <div class="text-container">
        <p>
          Amazing user experience and vastness of choices will make this the only car rental service you will ever need to google.
        </p>
      </div>
    </section>
  </main>