
.banner {
    height: calc(50vh + 60px);
    padding-top:60px;
    width: 100%;
    background: url('../../../../assets/images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .banner-text {
        position: absolute;
        top: 10vw;
        left:10vw;
    }
    
    .banner-text > h1 {
        font-style: italic;
    }
    
    .banner-text > h1 > mark {
        all: unset;
        color: var(--primary);
    }
}

app-search {
    position: relative;
    top: -20px;
}

main {
    flex-grow: 1;
    padding: 1rem;
    min-height: 50vh;

    section {
        font-size: var(--l);    
        padding: 1rem;
        display: flex;
        max-width: 1000px;
        margin: 4rem auto;
        flex-wrap: wrap;
        justify-content: center;

        .text-container {
            padding: 1rem;
            display: flex;
            text-align: center;
            align-items: center;
            flex-basis: min-content;
            flex-grow: 1;
        }

        img {
            width: 300px;
            border: 5px solid var(--primary);
            border-radius: 10px;
        }
    }
}

.icon-section {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    width:100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
        
    .icon-section-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        span {
            font-size: var(--m);
        }

        
        .icon-section-icon {
            border: 2px solid var(--primary);
            color: var(--primary);
            border-radius: 25px;
            width: 5rem;
            display:flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1 / 1;

            .icon {
                font-size: 60px;
                width:60px;
                height:60px;
            }
        }
    }

    @media (max-width: 550px) {
        flex-direction: column;
    }
}


@media (max-width: 550px) {
    :host {
        margin-top: 3.75rem;
    }
    
    .banner{ 
        display: none;
    }

    app-search {
        position: relative;
        top: 0;
    }
}
