:host {
    padding: 1rem;
    overflow: auto;
    height: calc(100vh - 60px - 2rem);
    display: block;
}

.transactions-item {
    gap: 1rem;
    background: var(--dark-1);
    padding: 0.6rem;
    border-radius: 5px;
    align-items: center;
    border-left: 5px solid var(--primary);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;

    .actions {
        display: flex;
        gap: 0.5rem;
    }

    .cell {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-basis: 15%;
        text-align: right;

        .label {
            font-size: 12px;
            line-height: 12px;
            color: var(--accent);
        }

        &.date {
            grid-column: 1 / 3;
        }

        &.date2 {
            grid-column: 3 / 5;
        }
    }

    margin-top:1rem;
}

@media(max-width: 950px) {
    .reservation-item {
        grid-template-columns: repeat(6, 1fr);
    }
}