:host {
    display: inline-block;
}

button {
    background-color: var(--accent);
    font-size: var(--m);
    color: var(--text-dark);
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &.error {
        background-color: var(--error);
    }
}

.big {
    padding: 12px 30px;
}

.medium {
    padding: 8px 20px;
}

.small {
    padding: 3px 10px;
}

button mat-icon {
    font-weight: 600;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.icon-button {
    height: 35px;
    width: 35px;
    padding: 3px;
    border-radius: 50%;
    font-size:14px;
}