 <div class="container">
    <div class="main-section">
        <img class="element" [src]="BASE_URL + '/' +item.model.imageUrl" />
        <div class="element info">
            <div class="title">{{ item.model.company }} {{ item.model.name }}</div>
            <div class="info-line"><mat-icon>person</mat-icon>{{ item.model.seatCount }} seats</div>
            <div class="info-line"><mat-icon>build_circle</mat-icon>{{ item.model.engine }}</div>
            <div class="info-line"><mat-icon>settings</mat-icon>{{ item.model.gear }}</div>
        </div>
        <div class="element price" *ngIf="isPrice">
            <span>1 day</span>
            <p>{{ item.price }} USD</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="footer">
        <img [src]="item.supplier.logoUrl" *ngIf="isLogo"/>
        <app-button
            *ngIf="isDelete"
            title="Delete"
            size="small"
            [iconButton]="true"
            icon="delete"
            [style]="'error'"
        ></app-button>
        <app-button
            *ngIf="isRent"
            [title]="'Rent'"
            [icon]="'credit_card'"
            [size]="'small'"
            (outClick)="onRentClick()"
    ></app-button>
    </div> 
</div>