.container {
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--dark-1);
    font-size: var(--m);
}

.main-section {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.main-section img {
    max-height: 100px;
}

mat-icon {
    color: var(--accent);
}

.info-line {
    margin: 0;
    display: flex;
    align-items: center;
    gap:6px;
}

.title {
    font-size: var(--l);
    margin-bottom: 1rem;
}

.price {
    margin-left: auto;
    align-self: end;
    text-align: right;
    font-size: var(--m);
}

.price p {
    margin: 10px 0 0;
    color: var(--accent);
    font-weight: bold;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: var(--dark-1);
    margin: 0.5rem 0;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    img {
        max-height: 40px;
        margin-right: auto;
    }
}

@media (max-width: 450px) {
    .main-section {
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }    
}