.container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 250px 1fr;
    max-width:1000px;
    margin: 0 auto;
    /* position: relative; */
    min-height: 100vh;
    // box-shadow: 0px 0px 10px var(--primary);
    margin-top: 1rem;

    app-filter-panel {
        box-shadow: 0px 0px 10px var(--primary);
    }
}

.list-header {
    font-size: var(--l);
}

main {
    padding: 0 1rem;

    header {
    }

    .mobile-actions {
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        display: none;
        margin-top: 1.5rem;

        .action {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.2rem;
            font-size: var(--m);
            cursor: pointer;

            mat-icon {
                color: var(--primary);
            }
        }
    }

    @media (max-width:950px) {    
        .mobile-actions {
            display: grid;
        }

        .sorting {
            display: none;
        }
    }
}

.vehicle-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sorting {
    margin: 20px 0;
    display: flex;
    gap: 0.5rem;

    label {
        font-size: 16px;
        margin-bottom: 8px;
        display: block;
    }

    select {
        font-size: 16px;
        padding: 0.2rem 0.5rem;
        border: none;
        border-radius: 15px;
        background-color: var(--accent);
        transition: border-color 0.3s;
        cursor: pointer;
        font-weight: 500;

        option {
            &:hover {
                font-weight: 600;
                background-color: var(--dark-1);
            }
        }
    }

}

.side-panel {
    position: absolute;
    background-color: var(--dark-1);
    width:50vw;
    height: 100vh;
    overflow-y: scroll;
    transform: translate(300%);
    transition-duration: 1s;
    top:0;
    right:0;

    .hidden {
        position: absolute;
        visibility: hidden;
        display: none;
    }
}

.slide-in {
    transform: translate(0%);
}

.mobile-sort {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .sort-item {
        padding: 0.5rem;
        cursor:pointer;
        background-color: var(--dark-2);
    }
}

@media (max-width:950px) {
    .container {
        grid-template-columns: 1fr;
    }

    .filter-panel.desktop {
        display: none;
    }
}