<div class="container">
    <div class="form-section">
        <section>
            <div class="logo">
                <img src="../../../assets/images/Automobile.png" />
          </div>
          <div class="form">
              <h1>Sign in</h1>
              <app-input
                  [type]="'text'"
                  [placeholder]="'email'"
                  [title]="'Enter your email'"
              ></app-input>
              <app-input
                  [type]="'password'"
                  [placeholder]="'*******'"
                  [title]="'Enter your password'"
              ></app-input>
              <span>
                <input type='checkbox' />Remember me
              </span>
              <app-button
                [title]="'Sign In'"
                [icon]="'login'"
                [size]="'small'"
                [routerLink]="['/']"
              ></app-button>
          </div>
          <div class="signup-section">
            <div class="divider"></div>
            <p>Dont have an account yet?</p>
            <app-button
                [title]="'Sign Up'"
                [size]="'small'"
                [icon]="'person_add'"
            ></app-button>
          </div>
        </section>
    </div>
    <div class="image-section">
        <div class="photo"></div>
    </div>
</div>