<nav>
    <div class="nav-header">
        <h2>Filters</h2>
        <span class="clear" (click)="onClearFilters()">Clear filters</span>
    </div>

    <div
        class="filter-section"
        *ngFor="let section of filterSections"
    >
        <div class="divider"></div>
        <h3>{{section.headline }}</h3>
        <ul class="filters-list" #filterCheckboxes>
            <li *ngFor="let item of section.items">
                <input type='checkbox'
                    #checkbox 
                    (click)="onAddFilter(section.group, item, checkbox.checked)"
                    class="checkbox"
                />{{item.label}}
            </li>
        </ul>
    </div>
</nav>